.main {
    color: whitesmoke;
    background-color: rgb(255, 0, 0);
    height: 100%;
}

#Main {
    height: calc(100% - 34px);
}

#Main,
.main {
    flex: 1 1 auto;
    display: flex;
}

.main>* {
    margin: 0 auto;
    padding: 25% 0;
}